html { background-color:gray; } 
body {
    min-height: auto;
    max-width: 1000px;
    background-color:white; 
    margin: 0 auto; 
   
}
header ,main,footer{
    padding-left: 100px;
    padding-right: 100px;
}
#div1{
    padding: 50px;
}
#div1 #div1-a  {
    float: left;
    width: 300px;
    
}
 h1{
  margin-bottom: 0px;
  margin-top:0px;
  font-family: 'Yellowtail', cursive;
  font-size: 40px;
  color: rgb(37, 37, 37);
}
 h6{
    margin-top: 0px;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 15px;
    color: rgb(122, 122, 122);
  }
#div1 #div1-b  {
    float: right;
    width: 400px;
    right: 0px;
    
}
#div1 #div1-b ul{
    padding-left: 175px;
    margin-top: 30px;
}
#div1 #div1-b ul li{
    display: inline;   
}
#div1 #div1-a #div1-a-a{
    float: left;
    padding-right: 10px;
}

#div1 #div1-a #div1-a-b{
    float:inline-end;
    
}
.hr{
    clear: both;
    border: 1px;
    padding: 5px;
    background: url(./img/hr-img.png);
    background-repeat: repeat;
    margin-right: 50px;
    margin-left: 50px;
}
/* ||||||||||||||||||||||||||||[ STYLING MAIN  ]||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */
#div2{
    clear: both;
} 
#div2 #div2-a{

    float: left;
    margin-right: 50px;
    margin-left: 50px;
    width: 300px;
    
}
h2{ 
    font-size: 48px;
    font-family: 'Anton', sans-serif;
    font-family: 'Pragati Narrow', sans-serif;
    margin-bottom: 0px;
}
h5{
    margin-top: 0px;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 15px;
    color: rgb(122, 122, 122);
}


#div2 #div2-b{
    float:right;
    margin-right: 50px;
    margin-left: 50px;
    width: 280px;
    padding-top: 120px;
    

}
#div2 #div2-b #div2-b1{
   clear: both;
   float: left;
   padding-left: 230px;
   
}
#div2 #div2-b #div2-b2{
    float: inline-end;
}

/*||||||||||||||||||||||||||||||||||||||||||||||||||||||||||*/

#pizza img{
    width: 700px;
    padding-left: 50px;
}

#paragraphs{
    font-size: 14px;
    width:700px;
    padding-left: 50px;
    font-family: Arial, Helvetica, sans-serif;
    color:rgb(48, 47, 47);
}
/*||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||*/
.notebook-sheet img{
    width: 700px;
    padding-left: 50px;
}
.notebook-sheet{
  

  position: relative;
  color:black;
}
.left-list{
    font-size: 18px;
    clear: both;
    float: left;
    width: 30%; 
    position: absolute;
    bottom: 20px;
    right: 20px;
    padding-left: 20px;
    padding-right: 20px; 
    left: 100px;
    top: 30px;
}
.right-list{
    font-size: 18px;
    float: right;
    width: 40%;
    position: absolute;
    bottom: 20px;
    right: 20px;
    padding-right: 20px;  
    left: 400px;
    top: 30px;
  }

.deleted {
    text-decoration: line-through;
  }
  .lists{
    font-family: 'Handlee', cursive;
    color: rgb(38, 58, 58);

  }
  /*|||||||||||||||||||||||||||||||||||||||||||||||||||
  */
  #last-part {
      width: 800px;
      box-sizing: border-box;
    
  }
  #last-part #part1{
      
      clear: none;
      float: left;
      width: 10%;
      padding-top: 20px;
      padding-right: 0px;
      padding-left: 50px;
      
  }
  #last-part #part2{
      padding-top: 8px;
      float:inline-end;
      margin-left: 20px;
      width:70% ;

      
  }
  #last-part #part3{
      width: 15%;
      position: relative;
      top: -80px;
      right: 50px;
      float: right;
      
      
  }
  #last-part #part2 h3{
      font-size: 25px;
      color: rgb(79, 88, 88);
      margin-top: 10px;
      margin-bottom: 0px;
  }
  #last-part #part2 h4{
    color: rgb(79, 88, 88);
    font-family: 'Open Sans Condensed', sans-serif;
    margin-top: 0px;
  }
  #last-part #part3 button{
      padding: 8px;
      background-color:rgb(197, 89, 70);
      color: cornsilk;
  }
  /* ------------------------------- */
  footer{
      text-align: center;
      padding-top: 40px;
  }
  footer hr{
     color: rgb(226, 224, 224);
     width: 700px;

  }
  footer p{
      color: darkgrey;
  }
  /* Barqawi is simply Awesome ! :D */